/* CSS FlexBox Grid */
/* I wrote this using SCSS for use on my own website */
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
    width: 99%;
    margin: 0 0.5%;
    display: block;
}

@media only screen and (min-width: 360px) {
    .col-xs-1 {
        width: 7.3333333333%;
        margin: 0 0.5%;
    }

    .col-xs-2 {
        width: 15.6666666667%;
        margin: 0 0.5%;
    }

    .col-xs-3 {
        width: 24%;
        margin: 0 0.5%;
    }

    .col-xs-4 {
        width: 32.3333333333%;
        margin: 0 0.5%;
    }

    .col-xs-5 {
        width: 40.6666666667%;
        margin: 0 0.5%;
    }

    .col-xs-6 {
        width: 49%;
        margin: 0 0.5%;
    }

    .col-xs-7 {
        width: 57.3333333333%;
        margin: 0 0.5%;
    }

    .col-xs-8 {
        width: 65.6666666667%;
        margin: 0 0.5%;
    }

    .col-xs-9 {
        width: 74%;
        margin: 0 0.5%;
    }

    .col-xs-10 {
        width: 82.3333333333%;
        margin: 0 0.5%;
    }

    .col-xs-11 {
        width: 90.6666666667%;
        margin: 0 0.5%;
    }

    .col-xs-12 {
        width: 99%;
        margin: 0 0.5%;
    }
}
@media only screen and (min-width: 550px) {
    .col-sm-1 {
        width: 7.3333333333%;
        margin: 0 0.5%;
    }

    .col-sm-2 {
        width: 15.6666666667%;
        margin: 0 0.5%;
    }

    .col-sm-3 {
        width: 24%;
        margin: 0 0.5%;
    }

    .col-sm-4 {
        width: 32.3333333333%;
        margin: 0 0.5%;
    }

    .col-sm-5 {
        width: 40.6666666667%;
        margin: 0 0.5%;
    }

    .col-sm-6 {
        width: 49%;
        margin: 0 0.5%;
    }

    .col-sm-7 {
        width: 57.3333333333%;
        margin: 0 0.5%;
    }

    .col-sm-8 {
        width: 65.6666666667%;
        margin: 0 0.5%;
    }

    .col-sm-9 {
        width: 74%;
        margin: 0 0.5%;
    }

    .col-sm-10 {
        width: 82.3333333333%;
        margin: 0 0.5%;
    }

    .col-sm-11 {
        width: 90.6666666667%;
        margin: 0 0.5%;
    }

    .col-sm-12 {
        width: 99%;
        margin: 0 0.5%;
    }
}
@media only screen and (min-width: 768px) {
    .col-md-1 {
        width: 7.3333333333%;
        margin: 0 0.5%;
    }

    .col-md-2 {
        width: 15.6666666667%;
        margin: 0 0.5%;
    }

    .col-md-3 {
        width: 24%;
        margin: 0 0.5%;
    }

    .col-md-4 {
        width: 32.3333333333%;
        margin: 0 0.5%;
    }

    .col-md-5 {
        width: 40.6666666667%;
        margin: 0 0.5%;
    }

    .col-md-6 {
        width: 49%;
        margin: 0 0.5%;
    }

    .col-md-7 {
        width: 57.3333333333%;
        margin: 0 0.5%;
    }

    .col-md-8 {
        width: 65.6666666667%;
        margin: 0 0.5%;
    }

    .col-md-9 {
        width: 74%;
        margin: 0 0.5%;
    }

    .col-md-10 {
        width: 82.3333333333%;
        margin: 0 0.5%;
    }

    .col-md-11 {
        width: 90.6666666667%;
        margin: 0 0.5%;
    }

    .col-md-12 {
        width: 99%;
        margin: 0 0.5%;
    }
}
@media only screen and (min-width: 1280px) {
    .col-lg-1 {
        width: 7.3333333333%;
        margin: 0 0.5%;
    }

    .col-lg-2 {
        width: 15.6666666667%;
        margin: 0 0.5%;
    }

    .col-lg-3 {
        width: 24%;
        margin: 0 0.5%;
    }

    .col-lg-4 {
        width: 32.3333333333%;
        margin: 0 0.5%;
    }

    .col-lg-5 {
        width: 40.6666666667%;
        margin: 0 0.5%;
    }

    .col-lg-6 {
        width: 49%;
        margin: 0 0.5%;
    }

    .col-lg-7 {
        width: 57.3333333333%;
        margin: 0 0.5%;
    }

    .col-lg-8 {
        width: 65.6666666667%;
        margin: 0 0.5%;
    }

    .col-lg-9 {
        width: 74%;
        margin: 0 0.5%;
    }

    .col-lg-10 {
        width: 82.3333333333%;
        margin: 0 0.5%;
    }

    .col-lg-11 {
        width: 90.6666666667%;
        margin: 0 0.5%;
    }

    .col-lg-12 {
        width: 99%;
        margin: 0 0.5%;
    }
}
@media only screen and (min-width: 1440px) {
    .col-xl-1 {
        width: 7.3333333333%;
        margin: 0 0.5%;
    }

    .col-xl-2 {
        width: 15.6666666667%;
        margin: 0 0.5%;
    }

    .col-xl-3 {
        width: 24%;
        margin: 0 0.5%;
    }

    .col-xl-4 {
        width: 32.3333333333%;
        margin: 0 0.5%;
    }

    .col-xl-5 {
        width: 40.6666666667%;
        margin: 0 0.5%;
    }

    .col-xl-6 {
        width: 49%;
        margin: 0 0.5%;
    }

    .col-xl-7 {
        width: 57.3333333333%;
        margin: 0 0.5%;
    }

    .col-xl-8 {
        width: 65.6666666667%;
        margin: 0 0.5%;
    }

    .col-xl-9 {
        width: 74%;
        margin: 0 0.5%;
    }

    .col-xl-10 {
        width: 82.3333333333%;
        margin: 0 0.5%;
    }

    .col-xl-11 {
        width: 90.6666666667%;
        margin: 0 0.5%;
    }

    .col-xl-12 {
        width: 99%;
        margin: 0 0.5%;
    }
}
@media only screen and (min-width: 360px) {
    .offset-xs-1 {
        margin-left: 7.3333333333%;
    }

    .offset-xs-2 {
        margin-left: 15.6666666667%;
    }

    .offset-xs-3 {
        margin-left: 24%;
    }

    .offset-xs-4 {
        margin-left: 32.3333333333%;
    }

    .offset-xs-5 {
        margin-left: 40.6666666667%;
    }

    .offset-xs-6 {
        margin-left: 49%;
    }

    .offset-xs-7 {
        margin-left: 57.3333333333%;
    }

    .offset-xs-8 {
        margin-left: 65.6666666667%;
    }

    .offset-xs-9 {
        margin-left: 74%;
    }

    .offset-xs-10 {
        margin-left: 82.3333333333%;
    }

    .offset-xs-11 {
        margin-left: 90.6666666667%;
    }

    .offset-xs-12 {
        margin-left: 99%;
    }
}
@media only screen and (min-width: 550px) {
    .offset-sm-1 {
        margin-left: 7.3333333333%;
    }

    .offset-sm-2 {
        margin-left: 15.6666666667%;
    }

    .offset-sm-3 {
        margin-left: 24%;
    }

    .offset-sm-4 {
        margin-left: 32.3333333333%;
    }

    .offset-sm-5 {
        margin-left: 40.6666666667%;
    }

    .offset-sm-6 {
        margin-left: 49%;
    }

    .offset-sm-7 {
        margin-left: 57.3333333333%;
    }

    .offset-sm-8 {
        margin-left: 65.6666666667%;
    }

    .offset-sm-9 {
        margin-left: 74%;
    }

    .offset-sm-10 {
        margin-left: 82.3333333333%;
    }

    .offset-sm-11 {
        margin-left: 90.6666666667%;
    }

    .offset-sm-12 {
        margin-left: 99%;
    }
}
@media only screen and (min-width: 768px) {
    .offset-md-1 {
        margin-left: 7.3333333333%;
    }

    .offset-md-2 {
        margin-left: 15.6666666667%;
    }

    .offset-md-3 {
        margin-left: 24%;
    }

    .offset-md-4 {
        margin-left: 32.3333333333%;
    }

    .offset-md-5 {
        margin-left: 40.6666666667%;
    }

    .offset-md-6 {
        margin-left: 49%;
    }

    .offset-md-7 {
        margin-left: 57.3333333333%;
    }

    .offset-md-8 {
        margin-left: 65.6666666667%;
    }

    .offset-md-9 {
        margin-left: 74%;
    }

    .offset-md-10 {
        margin-left: 82.3333333333%;
    }

    .offset-md-11 {
        margin-left: 90.6666666667%;
    }

    .offset-md-12 {
        margin-left: 99%;
    }
}
@media only screen and (min-width: 1280px) {
    .offset-lg-1 {
        margin-left: 7.3333333333%;
    }

    .offset-lg-2 {
        margin-left: 15.6666666667%;
    }

    .offset-lg-3 {
        margin-left: 24%;
    }

    .offset-lg-4 {
        margin-left: 32.3333333333%;
    }

    .offset-lg-5 {
        margin-left: 40.6666666667%;
    }

    .offset-lg-6 {
        margin-left: 49%;
    }

    .offset-lg-7 {
        margin-left: 57.3333333333%;
    }

    .offset-lg-8 {
        margin-left: 65.6666666667%;
    }

    .offset-lg-9 {
        margin-left: 74%;
    }

    .offset-lg-10 {
        margin-left: 82.3333333333%;
    }

    .offset-lg-11 {
        margin-left: 90.6666666667%;
    }

    .offset-lg-12 {
        margin-left: 99%;
    }
}
@media only screen and (min-width: 1440px) {
    .offset-xl-1 {
        margin-left: 7.3333333333%;
    }

    .offset-xl-2 {
        margin-left: 15.6666666667%;
    }

    .offset-xl-3 {
        margin-left: 24%;
    }

    .offset-xl-4 {
        margin-left: 32.3333333333%;
    }

    .offset-xl-5 {
        margin-left: 40.6666666667%;
    }

    .offset-xl-6 {
        margin-left: 49%;
    }

    .offset-xl-7 {
        margin-left: 57.3333333333%;
    }

    .offset-xl-8 {
        margin-left: 65.6666666667%;
    }

    .offset-xl-9 {
        margin-left: 74%;
    }

    .offset-xl-10 {
        margin-left: 82.3333333333%;
    }

    .offset-xl-11 {
        margin-left: 90.6666666667%;
    }

    .offset-xl-12 {
        margin-left: 99%;
    }
}
@media only screen and (max-width: 360px) {
    .hide-xs {
        display: none;
    }
}
@media only screen and (max-width: 550px) {
    .hide-sm {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .hide-md {
        display: none;
    }
}
@media only screen and (max-width: 1280px) {
    .hide-lg {
        display: none;
    }
}
@media only screen and (max-width: 1440px) {
    .hide-xl {
        display: none;
    }
}
.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.hide {
    display: none !important;
}